<div class="page-header header-filter" data-parallax="true" style="background-image: url('../../assets/img/intro-carousel/4.jpg'); height: 400px;"></div>
<div class="main main-raised">
  <div class="profile-content">
    <div class="container">
      <br><br>
      <div class="bglabel">
      <h5> PORTFOLIO </h5>                    
      </div>
      <br><br>

      <article class="col-lg-12 columns artical_headerbox">
        <section id="AccountBody">
          <!-- Start portfolio summary -->
          <table id='summary' class="boldData portfolioSummary">
          <colgroup>
          <!-- <col width="20%"> -->
          <col width="33%">
          <col width="33%">
          <col width="33%">
          <!-- <col width="25%"> -->
          </colgroup>
          <thead>
          <tr>
          <th>Cost value</th>
          <th>Current value</th>
          <th>Gain/loss</th>
          <!-- <th>XIRR</th> -->
          </tr>
          </thead>
          <tbody style='font-weight:500; font-size:.9em'>
          <tr>
          <td><i class="fas fa-rupee-sign"></i> {{ totalPurchaseVal }}</td>              
          <td><i class="fas fa-rupee-sign"></i> {{ todaysTotalVal }}</td>
          <td><i class="fas fa-rupee-sign"></i> <span [ngClass]="(todaysTotalDiff > 0) ? 'positive' : 'negative'">{{ todaysTotalDiff }}</span></td>
          <!-- <td><span> 12.77 %</span></td> -->
          </tr>
          </tbody>
          </table>


          <section class="schemeBlockWrapper">
            <section class="schemeBlock " id="SchemeBlock1" *ngFor='let trans of distinctSchemes' >	
              <header class="row schemeHeader">
              <div class="columns nopadd">

              <h3 id="schemeDet_1">{{ trans }}</h3>

              </div>
              <div class="columns nopadd">
                <table class="boldData holdingSummary">
                  <colgroup>
                    <col width="31%">
                    <col width="31%">
                    <col width="38%">
                  </colgroup>
                  <thead>
                    <tr>
                      <th>Cost Value</th>
                      <th>Current value</th>
                      <th>Gain/Loss</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><i class="fas fa-rupee-sign"></i>{{ buyCostMap.get(trans) }}</td>
                      <td><i class="fas fa-rupee-sign"></i>{{ (todaysCostMap.get(trans) * schemeNameMap.get(trans)).toFixed(2) }}</td>
                      <td>                   
                        <span 
                          [ngClass]="((todaysCostMap.get(trans) * schemeNameMap.get(trans)) > buyCostMap.get(trans)) ? 
                          'positive' : 'negative'">
                            <i [ngClass]="((todaysCostMap.get(trans) * schemeNameMap.get(trans)) > buyCostMap.get(trans)) ? 
                              'fas fa-caret-up' : 'fas fa-caret-down'"></i>
                                {{ ((todaysCostMap.get(trans) * schemeNameMap.get(trans)) - buyCostMap.get(trans)).toFixed(2) }}
                        </span> 
                        <!-- <span class="negative"><i class="fas fa-caret-down"></i> 9,750.82</span> -->
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              </header>
            </section> <!-- close .schemeBlock -->
          </section> <!-- close .schemeBlockWrapper -->
        </section> <!-- close #AccountBody -->

      </article>

    </div>
  </div>
</div>

