<div class="page-header header-filter" data-parallax="true" style="background-image: url('../../assets/img/intro-carousel/4.jpg'); height: 400px;"></div>
<div class="main main-raised">
    <div class="profile-content">
      <div class="container">
          <br><br>
          <div class="bglabel">
              <h5> PORTFOLIO </h5>                    
          </div>
          <br><br>

      <article class="col-lg-12 columns artical_headerbox">
        <section id="AccountBody">
          <!-- Start portfolio summary -->
          <table id='summary' class="boldData portfolioSummary">
            <colgroup>
              <!-- <col width="20%"> -->
              <col width="25%">
              <col width="25%">
              <col width="25%">
              <col width="25%">
            </colgroup>
            <thead>
              <tr>
                <th>Cost value</th>
                <th>Current value</th>
                <th>Gain/loss</th>
                <th>XIRR</th>
              </tr>
            </thead>
            <tbody style='font-weight:500; font-size:.9em'>
              <tr>
                <td><i class="fas fa-rupee-sign"></i> 1,50,000</td>              
                <td><i class="fas fa-rupee-sign"></i> 1,66,000</td>
                <td><i class="fas fa-rupee-sign"></i> 16,000</td>
                <td><span> 12.77 %</span></td>
              </tr>
            </tbody>
          </table>
      
              
  <section class="schemeBlockWrapper">
    <section class="schemeBlock " id="SchemeBlock1">	
      <header class="row schemeHeader">
        <div class="columns nopadd">
          
          <h3 id="schemeDet_1">Midcap Fund</h3>
          
        </div>
        <div class="columns nopadd">
          <table class="boldData holdingSummary">
            <colgroup>
              <col width="31%">
              <col width="31%">
              <col width="38%">
            </colgroup>
            <thead>
              <tr>
                <th>Cost Value</th>
                <th>Current value</th>
                <th>Gain/Loss</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><i class="fas fa-rupee-sign"></i> 50,000</td>
                  <td><i class="fas fa-rupee-sign"></i> 55,039.89</td>
                  <td>                   
                    <span class="positive"><i class="fas fa-caret-up"></i> 5,039.89</span>                          
                    
                  </td>
              </tr>
            </tbody>
          </table>
        </div>
      </header>										
                    
    </section> <!-- close .schemeBlock -->
  
    
        <section class="schemeBlock " id="SchemeBlock2">	
          <header class="row schemeHeader">
            <div class="columns nopadd">
              
              <h3 id="schemeDet_1">Midcap Fund</h3>
              
            </div>
            <div class="medium-8 large-7 columns nopadd">
              <table class="boldData holdingSummary">
                <colgroup>
                  <col width="31%">
                  <col width="31%">
                  <col width="38%">
                </colgroup>
                <thead>
                  <tr>
                    <th>Cost Value</th>
                    <th>Current value</th>
                    <th>Gain/Loss</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><i class="fas fa-rupee-sign"></i> 85,750.82</td>
                    <td><i class="fas fa-rupee-sign"></i> 76,000</td>
                    <td>
                      <span id="switch_2_1_ret">
                        <span class="negative"><i class="fas fa-caret-down"></i> 9,750.82</span>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </header>										
                        
        </section> <!-- close .schemeBlock -->
        
            <section class="schemeBlock " id="SchemeBlock3">	
              <header class="row schemeHeader">
                <div class="medium-4 large-5 columns nopadd">
                  
                  <h3 id="schemeDet_1">Midcap Fund</h3>
                  
                </div>
                <div class="medium-8 large-7 columns nopadd">
                  <table class="boldData holdingSummary">
                    <colgroup>
                      <col width="31%">
                      <col width="31%">
                      <col width="38%">
                    </colgroup>
                    <thead>
                      <tr>
                        <th>Cost Value</th>
                        <th>Current value</th>
                        <th>Gain/Loss</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><span class="WebRupee">Rs.</span> 24,000</td>
                          <td><span class="WebRupee">Rs.</span> 24,000</td>
                          <td>
                            <span id="switch_2_1_ret" style='align-content:left'>
                                <span class="neutral">0</span>                          
                            </span>
                          </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </header>										
                            
            </section> <!-- close .schemeBlock --> 
  
            </section> <!-- close .schemeBlockWrapper -->
          </section> <!-- close #AccountBody -->
        
        </article>
          
      </div>
    </div>
</div>
    
