extends ./layout
br
br
br
block content
  .col-sm-8.col-sm-offset-2
    form(method='POST')
      div(style="align-content: center; font-family: 'lato'; background-color: #3a539b; \
            margin-top: 15px; margin-bottom: 10px; text-transform: uppercase; font-weight: 300; \
            font-size: 15px; word-spacing: 4px; letter-spacing: 1px; color: #fff; text-align: center; \
            box-shadow: 0px 5px 30px #6c7a89")
        h5 RESET PASSWORD
      br
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        label(for='password') New Password
        input.form-control(type='password', name='password', id='password', placeholder='New password', autofocus, disabled)
      .form-group
        label(for='confirm') Confirm Password
        input.form-control(type='password', name='confirm', id='confirm', placeholder='Confirm password', disabled)
      .form-group
        button.btn.btn-danger.btn-reset(disabled='disabled')
          i.material-icons autorenew
          |    Change Password