<div class="page-header header-filter" data-parallax="true" style="background-image: url('../../assets/img/intro-carousel/4.jpg'); height: 400px;"></div>
    <div class="main main-raised">
        <div class="profile-content">
            <div class="container">

                
                <div class="row">
                    <div class="col-md-12 ml-auto mr-auto">
                      <br><br>
                        <div class="bglabel">
                            <h5> PROFILE </h5>                    
                        </div>
                        <br><br>
                        <div class="profile" style="padding-bottom: 2em;">
                            
                            <div class="name">
                                <h3 class="title">{{ UName }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto">
                        <div class="profile-tabs">
                            <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#AcDetails" role="tab" data-toggle="tab">
                                        Account Details
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#PlDetails" role="tab" data-toggle="tab">
                                        Personal Details
                                    </a>
                                </li>                                
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab-content tab-space">
                    <div class="tab-pane active text-center gallery" id="AcDetails">
                        <div class="row">
                          <div class="col-lg-12 col-sm-12 columns mainColumn">
                            <h3>Sign in details</h3>
                            <dl class="horizontal clearfix profilePage">
                              <dt>Email</dt>
                              <dd>
                                <span>{{ email }}</span>                                    
                              </dd>
                              <dt>Password</dt>
                              <dd>******** <span *ngIf="isLocal">  <a href="javascript:void(0)" (click)="showPwdForm=!showPwdForm" class='edit-btn'> update </a></span>
                                <br><br>
                                <div *ngIf='showPwdForm'class='editDiv'>
                                    <form style='font-size:.8em'
                                    fxLayout='column' 
                                    fxLayoutAlign="left left" 
                                    fxLayoutGap="10px"                                    
                                    #f1="ngForm" (ngSubmit)="UpdatePassword(f1)">
                                      <mat-form-field>                                        
                                        <input type="password"
                                        matInput placeholder="Your Password" 
                                        ngModel name="password1" 
                                        password1 required #pwdInput="ngModel">
                                        <mat-error *ngIf="pwdInput.hasError('required')">Field must not be empty.</mat-error>                                        
                                      </mat-form-field>
                                      
                                      <mat-form-field>                                        
                                          <input type="password"
                                          matInput placeholder="Confirm Password" 
                                          ngModel name="confirmPassword1" 
                                          password1 required #cnFmpwdInput="ngModel">
                                          <mat-error *ngIf="cnFmpwdInput.hasError('required')">Field must not be empty.</mat-error>                                          
                                        </mat-form-field>
                                      
                                      <div style="float:right">
                                          <button type="submit" 
                                            class="btn btn-sm btn-success"
                                            style='font-size:.85em'                    
                                            [disabled]="f1.invalid"         
                                          >
                                            <i class="material-icons">autorenew</i> Change Password 
                                          </button> 
                                      </div>                                      
                                    </form>
                                </div>
                              </dd>
                            </dl>
                            
                            <h3>Contact details</h3>
                            <p class="hint">All transaction &amp; account related alerts or communication regarding this facility of online investment account will be sent to the following email ID and/or mobile number.</p>
                            <dl class="horizontal clearfix profilePage">
                              <dt>Mobile</dt>
                                  <dd>{{ mob }}   <a data-reveal-id="mobile-edit" href="javascript:void(0)" (click)="showPhoneForm=!showPhoneForm" class='edit-btn'> update </a>
                                    <br><br>
                                    <div *ngIf='showPhoneForm' class='editDiv'>
                                        <form style='font-size:.8em'
                                        fxLayout='column' 
                                        fxLayoutAlign="left left" 
                                        fxLayoutGap="10px"                                    
                                        #f2="ngForm" (ngSubmit)="UpdateMobile(f2)">
                                          <mat-form-field>
                                              <span matPrefix>+91 &nbsp;</span>                                      
                                            <input type="tel"
                                            matInput placeholder="Your Mobile" 
                                            ngModel name="mob" 
                                            password1 required #mobInput="ngModel">
                                            <mat-error *ngIf="mobInput.hasError('required')">Field must not be empty.</mat-error>                                        
                                          </mat-form-field>
                                          <div style='float:inherit'>
                                            <button type="submit" 
                                              class="btn btn-sm btn-success"
                                              style='font-size:.85em'                    
                                              [disabled]="f2.invalid"         
                                            >
                                              <i class="material-icons">autorenew</i> Update Mobile 
                                            </button>
                                          </div>
                                          </form>
                                    </div>
                                  </dd>
                              <dt>Email</dt>
                                  <dd>{{ email }}
                                  </dd>
                            </dl>                                
                          </div>
                        </div>
                    </div>
                    <div class="tab-pane text-center gallery" id="PlDetails">
                        <div class="row">
                          <div class="col-lg-12 col-sm-12 columns mainColumn">
                            <h3>PAN Details</h3>
                            <dl class="horizontal clearfix profilePage">
                              <dt>PAN</dt>
                              <dd>
                                <span>{{pan}}    <a data-reveal-id="pan-edit" href="javascript:void(0)" (click)="showPANForm=!showPANForm" class='edit-btn'> update </a></span>                                    
                              </dd>
                              <dd>
                                <span [ngClass]="kycVerified ? 'verified' : 'notVerified'">
                                  {{ kycVerified ? 'KYC verified' : 'KYC Not Verified' }}
                                </span> 
                                <span [ngClass]="panVerified ? 'verified' : 'notVerified'">
                                    {{ panVerified ? 'PAN verified' : 'PAN Not Verified' }}
                                </span>

                                
                                <br><br>
                                <div *ngIf='showPANForm' class='editDiv'>
                                    <form style='font-size:.8em'
                                    fxLayout='column' 
                                    fxLayoutAlign="left left" 
                                    fxLayoutGap="10px"                                    
                                    #f4="ngForm" (ngSubmit)="UpdatePAN(f4)">
                                      <mat-form-field>                                          
                                        <input 
                                        matInput placeholder="Your PAN" 
                                        ngModel name="pan" 
                                        pan required #panInput="ngModel">
                                        <mat-error *ngIf="panInput.hasError('required')">Field must not be empty.</mat-error>                                        
                                      </mat-form-field>
                                      <div style='float:inherit'>
                                        <button type="submit" 
                                          class="btn btn-sm btn-success"
                                          style='font-size:.85em'                    
                                          [disabled]="f4.invalid"         
                                        >
                                          <i class="material-icons">autorenew</i> Update PAN 
                                        </button>
                                      </div>
                                      </form>
                                    </div>
                              </dd>                              
                            </dl>
                            
                            <h3>Registered Bank Account details</h3>
                            <dl class="horizontal clearfix profilePage">
                              <dt>Bank name</dt>
                                <dd>{{ bankName }}</dd>
                              <dt>Account number</dt>
                                <dd>{{ acno }}</dd>
                              <dt>Branch / city</dt>
                                <dd>{{branch}} / {{city}}</dd>
                              <dt>IFSC</dt>
                                <dd>{{ IFSC }}</dd>
                              <dt>Payout Mechanism</dt>
                                <dd>{{ payout }}</dd>
                                <dt></dt>
                                  <dd><span><a href="javascript:void(0)" (click)="showBankForm=!showBankForm" class='edit-btn'> update </a></span>
                                    <br><br>
                                    <div *ngIf='showBankForm' class='editDiv'>
                                        <form style='font-size:.8em'
                                        fxLayout='column' 
                                        fxLayoutAlign="left left" 
                                        fxLayoutGap="10px"                                    
                                        #f3="ngForm" (ngSubmit)="UpdateBank(f3)">
                                          <mat-form-field>                                        
                                            <input 
                                            matInput placeholder="Bank Name" 
                                            ngModel name="bankName" 
                                            bankName required #bankNameInput="ngModel">
                                            <mat-error *ngIf="bankNameInput.hasError('required')">Field must not be empty.</mat-error>                                        
                                          </mat-form-field>
                                          
                                          <mat-form-field>                                        
                                            <input 
                                            matInput placeholder="Account number" 
                                            ngModel name="acno" 
                                            acno required #acnoInput="ngModel">
                                            <mat-error *ngIf="acnoInput.hasError('required')">Field must not be empty.</mat-error>                                          
                                          </mat-form-field>
                                          <mat-form-field>                                        
                                            <input 
                                            matInput placeholder="Branch" 
                                            ngModel name="branch" 
                                            branch required #branchInput="ngModel">
                                            <mat-error *ngIf="branchInput.hasError('required')">Field must not be empty.</mat-error>                                        
                                          </mat-form-field>
                                          
                                          <mat-form-field>                                        
                                            <input 
                                            matInput placeholder="City" 
                                            ngModel name="city" 
                                            city required #cityInput="ngModel">
                                            <mat-error *ngIf="cityInput.hasError('required')">Field must not be empty.</mat-error>                                          
                                          </mat-form-field>
                                          <mat-form-field>                                        
                                            <input 
                                            matInput placeholder="IFSC Code" 
                                            ngModel name="IFSC" 
                                            IFSC required #ifscInput="ngModel">
                                            <mat-error *ngIf="ifscInput.hasError('required')">Field must not be empty.</mat-error>                                        
                                          </mat-form-field>
                                          
                                          <mat-form-field>                                        
                                            <input 
                                            matInput placeholder="Payout Mechanism" 
                                            ngModel name="payout" 
                                            payout required #payoutInput="ngModel">
                                            <mat-error *ngIf="payoutInput.hasError('required')">Field must not be empty.</mat-error>                                          
                                          </mat-form-field>                                          
                                          
                                          <div style="float:right">
                                              <button type="submit" 
                                                class="btn btn-sm btn-success"
                                                style='font-size:.85em'                    
                                                [disabled]="f3.invalid"         
                                              >
                                                <i class="material-icons">autorenew</i> Update Bank Details 
                                              </button> 
                                          </div>                                      
                                        </form>
                                    </div>
                                  </dd>
                              <hr>
                            </dl>
                            
                          </div>
                        </div>
                    </div>                    
                </div>
                
            </div>
    </div>
  </div>

  
