<div class="container mat-dialog-title">
  <div class="bglabel">
      <h5> FORGOT PASSWORD </h5>                        
  </div>
  <br>
  <div mat-dialog-content>
          <form            
          fxLayout='column' 
          fxLayoutAlign="center center" 
          fxLayoutGap="10px"
          #f1="ngForm" (ngSubmit)="ForgotSubmit(f1)">
            <mat-form-field>
              <!-- <input type='email'  -->
              <input
              matInput placeholder="Your email" 
              ngModel name="email" 
              email required #emailInput="ngModel">
              <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty.</mat-error>
              <mat-error *ngIf="!emailInput.hasError('required')">E-Mail is invalid.</mat-error>
            </mat-form-field>
        
            
            <div mat-dialog-actions style="float:right">
                <button type="submit" 
                  class="btn btn-round btn-success"                    
                  [disabled]="f1.invalid"         
                >
                  <i class="material-icons">autorenew</i> Reset Password 
                </button> 
            </div>
            
          </form>
  </div> 
</div>