<div id="intro" class="page-header header-filter" data-parallax="true"  style=" background-image: url('../../assets/img/intro-carousel/5.jpg'); height: 400px;" >
</div>
<div class="main main-raised">
    <div class="container">
	<div class="section text-center">
	    <div class="row">
		    <div class="col-md-12 ml-auto mr-auto">

				<div class="bglabel">
                    <h5> DASHBOARD </h5>                    
                </div>

                <button class="btn btn-success btn-sm sticky">
                    <i class="material-icons">add</i>
                    <!-- <a routerLink="/purchase">New Transaction</a> -->
                    <a (click)="onClick()">New Transaction</a>
                </button>
                
                
			    <br><br>
			    <section id="AccountBody">
                    <div class="row" id="seq">								
                        <div class="col-md-8 col-lg-8 col-sm-12 columns" id="seq1">								
                            <section id="UpcomingTxns">
                                <h2 class="txnStatus upcoming">Upcoming transactions</h2>
                                    <table class="txnList">	
                                        <colgroup>
                                            <col width="18%" class="date">
                                            <col width="12%">
                                            <col width="50%">
                                            <col width="20%">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>Type</th>
                                                <th>Scheme</th>
                                                <th>Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>	
                                                <tr *ngFor='let trans of upcomingTransactions'>
                                                    <td class="date">{{ trans.startdate | date }}</td>
                                                    <td><span class="txnStatus trans_type">SIP</span></td>
                                                    <td class="scheme">{{ trans.schemeName }}</td>
                                                    <td><i class="fas fa-rupee-sign"></i> {{ trans.amt }}</td>
                                                </tr>													
                                        </tbody>
                                    </table>
                            </section>
                                
                            <section id="RecentActivity">
                                <h2 class="txnStatus recent">Recent Transactions</h2>
                                <table class="txnList" id="transactionList">
                                    <colgroup>
                                        <col width="12%" class="date">
                                        <col width="9%">
                                        <col width="10%">
                                        <col width="28%">
                                        <col width="14%">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Status</th>
                                            <th>Type</th>
                                            <th>Scheme</th>
                                            <th>Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor='let trans of limitedtransactions'>
                                            <td class="date">{{ trans.date_bought | date }}</td>
                                            <td><span class="txnStatus completed">Processed</span></td>
                                            <td><span class="txnStatus trans_type">{{ trans.trans_type }}</span></td>
                                            <td class="scheme">{{ trans.schemeName }}</td>
                                            <td><span class="price">{{ trans.amt | currency: 'INR' }}</span></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="5">
                                                <a href="/account/investor-transactions?q2=ALL"
                                                   style='color: #005eb8; text-decoration: none; line-height: inherit;'
                                                >
                                                    See more recent transactions  »
                                                </a>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>		
                            </section>
                                
                        </div>						
                            
                        <aside id="seq2" class="col-md-4 col-lg-4 col-sm-12 columns">
                            <div id="RightPartial">
                                <div id="valseq1" class="small-12 portValWeb">
                                    <section id="CurrentValuation_portValWeb" class="greyBox">
                                        <h2>Your Portfolio's Value<p><small>as on  {{ todaysDate | date }}</small></p></h2>
                                            <span class="value"><span class="price">{{ todaysTotalVal | currency: 'INR' }} </span></span>
                                    </section>
                                </div>
                                <section id="SchemeTypeAllocation" class="greyBox">
                                    <h2>Fund Type Break-up</h2>
                                    <!-- <canvas id="canvas" class="chartjs" width="30" height="30"
                                     style="display: block; width: 30px; height: 30px;">
                                    </canvas> -->
                                    <div id="chartdiv"></div>							
                                </section>
                            </div>
                            
                        </aside>
                    </div>	
                </section>
            </div>
            
	    </div>
        </div>
    </div>
</div>



