<div id="intro" class="page-header header-filter" data-parallax="true"  style=" background-image: url('../../assets/img/intro-carousel/5.jpg'); height: 400px;" >  
</div>
<div class="main main-raised">
    <div class="container">
        <div class="section text-center">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <button (click)="OnAddClick()" 
                        class="btn btn-round btn-fab btn-lg sticky"                    
                        style="color:#fff; background-color: #F64747;"
                        data-toggle="tooltip" data-placement="left" title="Add a New Category"
                    >
                        <i class="material-icons">add</i>
                    </button>  
                    <br>
                    <div>
                        <div class="form">
                            <mat-form-field floatPlaceholder="never" color="accent">
                                <input matInput (keyup)="applySchemeFilter($event.target.value)" #filter placeholder="Search">
                            </mat-form-field>
                        </div>
                       
                        <mat-table #table [dataSource]="dataSource" matSort>
                            <!-- Title Column -->
                            <ng-container matColumnDef="schemeName">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                                <mat-cell *matCellDef="let row">{{ row.schemeName }}</mat-cell>
                            </ng-container>
                        
                            <!-- State Column -->                            
                            <ng-container matColumnDef="schemeNAV">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> NAV </mat-header-cell>
                              <mat-cell *matCellDef="let row">{{ row.schemeNAV }}</mat-cell>
                            </ng-container>
                            
                            <ng-container matColumnDef="subCategory">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Sub Category </mat-header-cell>
                              <mat-cell *matCellDef="let row">{{ row.subCategory }}</mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="categoryName">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Category name </mat-header-cell>
                              <mat-cell *matCellDef="let row">{{ row.categoryName }}</mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="oneYrRet">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> 1 year return </mat-header-cell>
                                <mat-cell *matCellDef="let row">{{ row.oneYrRet }}</mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="threeYrRet">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> 3 year return </mat-header-cell>
                                <mat-cell *matCellDef="let row">{{ row.threeYrRet }}</mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="fiveYrRet">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> 5 year return </mat-header-cell>
                                <mat-cell *matCellDef="let row">{{ row.fiveYrRet }}</mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="actions">
                                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                                <mat-cell *matCellDef="let row" >
                                    <button mat-icon-button [matMenuTriggerFor]="menu">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                    
                                    <mat-menu #menu="matMenu">                                      
                                        <button mat-menu-item class="btn-link"
                                        (click)="OnEditClick(row._id, row.schemeName, row.schemeDescription)"
                                        >
                                            <mat-icon>mode_edit</mat-icon>
                                            <span style="text-decoration: none; font-size: .65em">Edit</span>
                                        </button>
                                        <button mat-menu-item class="btn-link"
                                        (click)="OnDeleteClick(row._id, row.schemeName)"
                                        >
                                            <mat-icon>delete</mat-icon>
                                            <span>Delete</span>
                                        </button>
                                    </mat-menu>
                                </mat-cell>
                            </ng-container> 
                            
                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

                            
                 </mat-table>
                 <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

                    </div>
                    
                    
                    
            </div>
        </div>
    </div>  
</div>

