<div class="container mat-dialog-title">
    <div class="bglabel">
        <h5> EDIT SCHEME </h5>                        
    </div>
    <br>
    <div mat-dialog-content>
      <form            
        fxLayout='column' 
        fxLayoutAlign="center center" 
        fxLayoutGap="10px"
        #f1="ngForm" (ngSubmit)="onSubmit(f1)">
          <mat-form-field>
            <mat-select placeholder="category Name" [(ngModel)]="data.Scheme.categoryName" selected="data.Scheme.categoryName" name="categoryName" required (change)='onChange($event)'>
              <mat-option>--</mat-option>
              <mat-option *ngFor='let categoryName of categoryNames' [value]='categoryName' 
              >
                {{categoryName}}
              </mat-option>
            </mat-select>            
          </mat-form-field>
      
          <mat-form-field>
            <mat-select [(ngModel)]="data.Scheme.subCategoryName" placeholder="Sub category Name" name="subCategoryName" required [disabled]='isSubCategoryEmpty'>
              <mat-option>--</mat-option>
              <mat-option *ngFor='let subCategoryName of subCategoryNames' [value]='subCategoryName'>
                {{ subCategoryName }}
              </mat-option>
            </mat-select>            
          </mat-form-field>
            
      
          <mat-form-field>                               
            <input matInput placeholder="Scheme Name" [(ngModel)]="data.Scheme.schemeName" name="schemeName" 
             list="schemeNames" required (blur)="fillSchemeDetails($event)" readonly>                               
            <datalist id="schemeNames">
              <option *ngFor="let scheme of schemes" [value]="scheme">
                {{ scheme }}
              </option>
            </datalist>         
          </mat-form-field>
  
          <mat-form-field>                               
            <input type='text' matInput placeholder="Scheme Code" [(ngModel)]="data.Scheme.schemeCode" name="schemeCode" readonly>                               
          </mat-form-field>
      
          <mat-form-field>
            <mat-select placeholder="Scheme type" required [(ngModel)]="data.Scheme.schemeType" name="schemeType">
              <mat-option>--</mat-option>
              <mat-option *ngFor='let schemeType of schemeTypes' [value]='schemeType.value'>
                {{ schemeType.value }}
              </mat-option>
            </mat-select>            
          </mat-form-field>
      
          <mat-form-field>          
            <input type='number' matInput placeholder="Scheme NAV" [(ngModel)]="data.Scheme.schemeNAV" name="schemeNAV" readonly>
            <mat-hint align="start">Showing Today's NAV</mat-hint>
          </mat-form-field>
         
          <mat-form-field>
            <input type='number' matInput placeholder="1 year Return (%)" [(ngModel)]="data.Scheme.oneYrRet" name="oneYrRet">
          </mat-form-field>
  
          <mat-form-field>
            <input type='number' matInput placeholder="3 year Return (%)" [(ngModel)]="data.Scheme.threeYrRet" name="threeYrRet">
          </mat-form-field>
  
          <mat-form-field>
            <input type='number' matInput placeholder="5 year Return (%)" [(ngModel)]="data.Scheme.fiveYrRet" name="fiveYrRet">
          </mat-form-field>
          
          <div mat-dialog-actions style="float:right">
              <button type="submit" 
                class="btn btn-round btn-success"                    
                [disabled]="f1.invalid"
                
              >
                <i class="material-icons">add</i> U P D A T E 
              </button> 
          </div>
        
      </form>
    </div> 
  </div>