<div id="intro" class="page-header header-filter" data-parallax="true" style=" background-image: url('../../assets/img/intro-carousel/1.jpg'); ">
  <div class="container">
      <div class="row">
          <div class="col-md-6">
              <h3 class="title" style="font-weight:300; text-transform:uppercase"><br><br>15 years of Indian experience together with $2.5 trillion of global expertise.<br><br></h3>
              <h4 class="title" style="font-weight:300">Build your finantial future upon our rock solid fundation.<br><br></h4>
              <h3 style="text-transform:uppercase">Welcome to Mutual Capital.</h3>
              <br>
              <a href="#about" target="_blank" class="btn btn-danger btn-raised btn-lg">
                  <i class="fa fa-play"></i> Show more
              </a>
          </div>
      </div>
  </div>
</div>
<div class="main main-raised">
  <div class="container">
      <div class="section text-center">
          <div class="row">
              <div class="col-md-8 ml-auto mr-auto">
                  <h5>It takes only 2 simple steps to build wealth.</h5>
                  <h2 class="title">EARN & INVEST</h2>
                  <h5 class="description">Begin your investment journey by registering with <h3>Mutual Capital</h3></h5>
              </div>
          </div>
      </div>
  </div>

  <!--========    About Us Section   =========-->
  <section id="about">
      <div class="container">
  
        <header class="section-header text-center">
          <h2 class="title">About Us</h2>
          <p>We are an online Invest company based in Chennai and Bangalore. Our customers in over 2,000 cities, have invested over ₹5,000 crore on our platform in Mutual Funds, Stocks and other investment products.</p>
           <br>   
          <p>We believe everyone in India should have access to a world-class investment platform and sophisticated investment advice. We're on a mission to deliver that.</p>
        </header>
  
        <div class="row about-cols">
  
          <div class="col-md-4">
            <div class="about-col">
              <div class="img">
                <img src="../../assets/img/about-mission.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
              </div>
              <h3 class="title text-center"><a href="#">Our Mission</a></h3>
              <p>
                  To deliver consistent results through our value-based investing methodology, keeping alive the belief that money received from the people should go back to them several times over.
              </p>
            </div>
          </div>
  
          <div class="col-md-4">
            <div class="about-col">
              <div class="img">
                <img src="../../assets/img/about-plan.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-list-outline"></i></div>
              </div>
              <h3 class="title text-center"><a href="#">Our Commitment</a></h3>
              <p>
                  Our commitment to the highest quality of service and our intense focus on integrity is a key aspect of our business which has earned us the trust of our customers.
              </p>
            </div>
          </div>
  
          <div class="col-md-4">
            <div class="about-col">
              <div class="img">
                <img src="../../assets/img/about-vision.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-eye-outline"></i></div>
              </div>
              <h3 class="title text-center"><a href="#">Our Vision</a></h3>
              <p>
                  To provide every Indian a world-class investment platform and sophisticated investment advice.
                  Also offer a broad range of investment products across various asset classes with varying risk parameters that cater to needs of different customer segments.
              </p>
            </div>
          </div>
  
        </div>
  
      </div>
  </section><!-- #about -->
  
    <!--========    Services Section   =========-->

  <section id="services">
        <div class="container">
  
          <header class="section-header text-center">
            <h2 class="title">Services</h2>
            <p>We offer a suite of financial services to make investing friendly.</p>
          </header>
  
          <div class="row">
  
            <div class="col-lg-6 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
              <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
              <h4 class="title"><a href="">Mutual Funds</a></h4>
              <p class="description">Goal-driven financial advice that helps you take the best investment decisions to build wealth</p>
            </div>
            <div class="col-lg-6 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
              <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
              <h4 class="title"><a href="">Equities</a></h4>
              <p class="description">Invest in Equity Baskets from various sectors created and recommended by our research team, or create your own stock baskets</p>
            </div>
            <div class="col-lg-6 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
              <div class="icon"><i class="ion-ios-paper-outline"></i></div>
              <h4 class="title"><a href="">Super savings Account</a></h4>
              <p class="description">Get the advantages of a savings account with the growth of a mutual fund!</p>
            </div>
            <div class="col-lg-6 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
              <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
              <h4 class="title"><a href="">SIP with Insurance</a></h4>
              <p class="description">Invest in a SIP. Get free insurance!</p>
            </div>
          </div>
  
        </div>
  </section><!-- #services -->

    <!--==========================
      Clients Section
    ============================-->
    <div class="text-center" style="padding-top: 60px">
        <h2 class="title">Our customers can't live without us</h2>
    </div>
    <section id="testimonial" class="testimonials">
        
        <div class="row">
            <div class="col span-1-of-3">
                <blockquote>
                    Mutual Capital's services are much better than that offered by any other financial services company. You are the best and your system is great!”
                    <cite><img src="../../assets/img/testimonial-1.jpg">Alberto Duncan</cite>
                </blockquote>
            </div>
            <div class="col span-1-of-3">
                <blockquote>
                    Mutual Capital is an excellent product that is serviced by an excellent team. Every time, I’ve needed any help, the team has been prompt in getting back to me. I’m very impressed!
                    <cite><img src="../../assets/img/testimonial-2.jpg">Joana Silva</cite>
                </blockquote>
            </div>
            <div class="col span-1-of-3">
                <blockquote>
                    I recently used Mutual Capital for the first time to buy a fixed deposit. I really liked the simple flow, and the ease of completing the task. My bet is on you growing very fast.
                <cite><img src="../../assets/img/testimonial-3.jpg">Milton Chapman</cite>
                </blockquote>
            </div>
        </div>
     
    </section>
    
  
</div>



