<div class="container mat-dialog-title">
  <div class="bglabel">
      <h5> PAYMENT </h5>                        
  </div>
  <br>
  <div mat-dialog-content fxLayout='column' 
  fxLayoutAlign="center center" 
  >
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
  
    <!-- <div class="row"> -->
          <!-- <mat-form-field>
            <input matInput type="text" placeholder="Amount" [(ngModel)]="amount" class="input form-control amount" required>
          </mat-form-field>       -->
              
          <mat-form-field>
            <input matInput type="text" size='16' placeholder="Card Number" [(ngModel)]="cardNumber" required>
          </mat-form-field>            
        
          
          <mat-form-field>
            <input matInput type="text" size='2' placeholder="MM" [(ngModel)]="expMonth" required>
            
          </mat-form-field>
          
          <mat-form-field>
            <input matInput type="text" size='2' placeholder="YY" [(ngModel)]="expYear" required>    
              
          </mat-form-field>
          
          <mat-form-field>
              <input matInput type="text" size='3' placeholder="CVC" [(ngModel)]="cvcNumber" required>
          </mat-form-field>

          <mat-form-field>
              <input matInput type="text" size='5' placeholder="ZIP" [(ngModel)]="postCode" required>  
          </mat-form-field>
            
          <div mat-dialog-actions style="float: right">
              <button type="submit" 
              class="btn btn-round btn-info"
              (click)="submit()"    
            >
              Pay  <i class="fas fa-rupee-sign"></i>  {{ amount }}
            </button>
          </div>     
        <!-- <div class="row submitArea">
          <div class="col-md-12">
            <button class="btn btn-primary btn-block" >Submit</button>
          </div>
        </div> -->
      <!-- </div> -->


          <!-- <form            
          fxLayout='column' 
          fxLayoutAlign="center center" 
          fxLayoutGap="10px"
          #f1="ngForm" (ngSubmit)="onSubmit(f1)">
            <mat-form-field>                               
              <input matInput class='cust' placeholder="Category Name" ngModel name="categoryName" required>                               
            </mat-form-field>                           
            <mat-form-field>
            <input matInput placeholder="Category Description" ngModel name="categoryDescription" required>                              
            </mat-form-field>
            
            <div mat-dialog-actions style="float:right">
                <button type="submit" 
                  class="btn btn-round btn-success"                    
                  [disabled]="f1.invalid"
                  [mat-dialog-close]="1"
                  
                >
                  <i class="material-icons">add</i> C R E A T E 
                </button> 
            </div>
            
          </form> -->
  </div> 
</div>