::ng-deep .mat-dialog-content {
  font-size: .65em;
}

.bglabel {
  align-content: center;
  background-color: #3a539b;
  margin-top: 15px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-family: 'Lato'; 
  /* font-weight: 300; */
  font-size: 15%;
  word-spacing: 4px;
  letter-spacing: 1px;
  color: #ffffff;
  text-align: center;
  box-shadow: 0px 5px 30px #6c7a89;
}

::ng-deep .mat-dialog-container {
  max-width: 1000px;
}

