<div class="page-header header-filter" data-parallax="true" style="background-image: url('../../assets/img/intro-carousel/4.jpg'); height: 400px;"></div>
<div class="main main-raised">
    <div class="profile-content">
        <div class="container">

            <div class="row">
                Find the Best Schemes for our need !!
                <a class="btn-info" routerLink="/products"> Click Here </a>
            </div>
            <div class="row">
                <div class="col-md-12 ml-auto mr-auto">
                  <br><br>
                    <div class="bglabel">
                        <h5> PURCHASE </h5>                    
                    </div>
                    <br><br>
                    <!-- <div class="profile" style="padding-bottom: 2em;">
                        
                        <div class="name">
                            <h3 class="title">Souvik Das</h3>
                        </div>
                    </div> -->
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                    <div class="profile-tabs">
                        <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" href="#LumpsumDetails" role="tab" data-toggle="tab">
                                    Lumpsum
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#SIPDetails" role="tab" data-toggle="tab">
                                    SIP
                                </a>
                            </li>                                
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-content tab-space">
                <div class="tab-pane active text-center gallery" id="LumpsumDetails">
                    <div class="row d-flex justify-content-center">
                        <form            
                        fxLayout='column' 
                        fxLayoutAlign="center center" 
                        fxLayoutGap="10px"
                        #f1="ngForm" (ngSubmit)="onLumpsumSubmit(f1)">
                        <div class="row">
                            <div class="col-sm-8">
                                <mat-form-field>                               
                                    <input matInput class='cust' placeholder="Scheme Name" ngModel name="schemeName" 
                                    list="schemeNames" required (blur)="fillSchemeDetails($event)">                               
                                    <datalist id="schemeNames">
                                      <option *ngFor="let scheme of schemes" [value]="scheme">
                                        {{ scheme }}
                                      </option>
                                    </datalist>         
                                </mat-form-field>
                            </div>
                            <div class="col-sm-4">
                                <button type="submit" 
                                class="btn btn-round btn-sm btn-info"
                            >
                            <i class="fas fa-search"></i>
                            </button>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-sm-8">
                                <mat-form-field>
                                <input matInput placeholder="Amount" ngModel name="amount" required>                              
                                </mat-form-field>
                            </div>
                        </div>
                                                   

                        <div style="float:right">
                              <button type="submit" 
                                class="btn btn-round btn-success"                    
                                [disabled]="f1.invalid"                                
                              >
                              <i class="fas fa-forward"></i> Payment
                              </button> 
                        </div>
                          
                        </form>  
                                                      
                    </div>
                    
                </div>
                <div class="tab-pane text-center gallery" id="SIPDetails">
                    <div class="row">
                      <div class="col-sm-12 columns mainColumn">
                          <form            
                          fxLayout='column' 
                          fxLayoutAlign="center center" 
                          fxLayoutGap="10px"
                          #f2="ngForm" (ngSubmit)="onSIPSubmit(f2)">
                            <div class="row">
                                <div class="col-sm-8">
                                    <mat-form-field>                               
                                        <input matInput class='cust' placeholder="Scheme Name" ngModel name="schemeName" 
                                        list="schemeNames" required (blur)="fillSchemeDetails($event)">                               
                                        <datalist id="schemeNames">
                                          <option *ngFor="let scheme of schemes" [value]="scheme">
                                            {{ scheme }}
                                          </option>
                                        </datalist>         
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-4">
                                    <button type="submit" 
                                    class="btn btn-round btn-sm btn-info"
                                >
                                <i class="fas fa-search"></i>
                                </button>
                                </div>
                            </div>
                            
                                                       
                            <mat-form-field>
                            <input matInput placeholder="Installment Amount" ngModel name="amount" required>                              
                            </mat-form-field>
                            
                            <mat-form-field>
                                <input matInput [matDatepicker]="picker" placeholder="1st SIP Installment date" ngModel name="startDate" required>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker touchUi="true" #picker></mat-datepicker>
                            </mat-form-field>

                            <mat-form-field>
                                <mat-select placeholder="Duration (in months)" required ngModel name="duration">
                                  <mat-option [value]='12'>12</mat-option>
                                  <!-- <mat-option *ngFor='let schemeType of schemeTypes' [value]='schemeType.value'>
                                    {{ schemeType.value }}
                                  </mat-option> -->
                                </mat-select>            
                            </mat-form-field>

                            <div style="float:right">
                                <button type="submit" 
                                  class="btn btn-round btn-success"                    
                                  [disabled]="f2.invalid"                                
                                >
                                <i class="fas fa-forward"></i> Start SIP
                                </button> 
                            </div>
                            
                          </form>
                        
                      </div>
                    </div>
                </div>                    
            </div>
            
        </div>
</div>
</div>


